.indexDiv{padding:0 10px;}
form input{
    width:100%;
    height:40px;
    background: #fff;
    border:1px solid #dedede;
    margin-bottom:10px;
    font-size:0.9em;
    color:#3a3a3a;
    border-radius:0px;
}
.chose {text-align: center;font-size: 15px;color: #888888;margin-top: 10px;}
.chose a{color: #888888;}
#btn{width: 200px;margin: 10px auto;}
.btn{width:200px;height:50px;font-size:16px; color: #fff;background: #00a0e9;border-style: none;  }
.pic{margin-bottom: 40px;}
.pic img{width: 50px;}
.pic1{margin-left: 20px;}


