.indexDiv{margin:0 10px;}
.left{float: left;}
.right{float: right;margin-right: 30px;}
.right .img1 img{width: 50px;margin-top: -16px;float: left;margin-right: 40px;}
.right .img2 img{width: 15px;float: right;margin-top:-18px;}
.right .font{float: left;margin-right: 40px;}
.right .img3 img{width: 15px;float: right;margin-top:-35px;}
.bg2{border-bottom:#c2c2c2 solid 1.5px; height:40px; line-height:1.5em;margin: 10px;padding: 10px 0 0 10px;}
#login
{
    display:none;
    border:none;
    height:40%;
    width:100%;
    position:fixed;/*让节点脱离文档流,我的理解就是,从页面上浮出来,不再按照文档其它内容布局*/
    bottom:0;/*节点脱离了文档流,如果设置位置需要用top和left,right,bottom定位*/
    left:0;
    z-index:2;/*个人理解为层级关系,由于这个节点要在顶部显示,所以这个值比其余节点的都大*/
    background: white;
}
#over
{
    width: 100%;
    height: 1000px;
    opacity:0.8;/*设置背景色透明度,1为完全不透明,IE需要使用filter:alpha(opacity=80);*/
    filter:alpha(opacity=80);
    display: none;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    background: #323232;

}
.btn{width:300px;height:50px;font-size:16px; color: #fff;background: #c2c2c2;border-style: none; }
.btn1{width:300px;height:50px;font-size:16px; color: #fff;background: #c2c2c2;border-style: none; margin-top: 40px;}
.btn2{text-align: center;margin-bottom: 10px;}
#bt1{margin-top: 10px;}
#bt3{margin-bottom: 10px;}
.bt input:hover{background-color: #00a0e9;}
input{border-bottom:#666 1px solid;	   border-left-width:0px;	   border-right-width:0px;	   border-top-width:0px;
}