.indexDiv{padding:0 10px;}
.indexDiv li{min-height:50px; _height:50px; position:relative; padding:0 0 10px 146px;}
.indexDiv .imgDiv{position:absolute; left:0px; top:0px;}
.indexDiv .imgDiv img{width:146px;}
.li_01 .imgDiv img{width:146px;  height: 145px;}
.indexDiv .bg{border-top:#c2c2c2 solid 1px; border-bottom:#c2c2c2 solid 1px; height:85px; overflow:hidden; padding:0px 5px 0 10px; line-height:1.5em;}
.indexDiv .name{font-size:14px; padding:6px 0 3px 0;}
.indexDiv .time{height:1.5em; position:relative; color:#666;}
.indexDiv .time em{position:absolute; top:0px; right:0px; background:#3197df; color:#FFF; display:block; height:1.5em; padding:0 5px;
    border-radius:3px;
    -moz-border-radius:3px;
}
.indexDiv .price span{color:#f00;}
.indexDiv .msg{text-align:right;}
.indexDiv .msg span{padding-left:20px;}
.indexDiv .li_01 .bg{height:145px; background:#00a0e9; border:0px; color:#FFF;}
.indexDiv .li_01 .content{height:4.5em; overflow:hidden; text-align:justify; padding-top:3px; margin-bottom:3px;}
.indexDiv .li_01 a{color:#FFF;}
.indexDiv .li_01 .time em{background:#666;}
.indexDiv .li_01 .time, .indexDiv .li_01 .msg{color:#cecece;}
.first{margin-bottom: 120px;background:#c2c2c2; }
.person{display: inline;float: left;}
.person img{width: 60px;}
.bg1{background:#c2c2c2;height:60px; overflow:hidden;}
.bg1 a{float:left;margin:10px 20px 10px 0;padding-left: 10px;}
.bg1 label{float:left;margin:10px 20px 10px 0;padding-left: 10px;}
.bg1 a:hover{background: #e9a422; color:#FFF; padding:0px 5px;}
.page{text-align: center;font-size: 16px;margin:40px 0 40px 0;}
.page a{padding: 0px 9px;}


