.ca-container{
	position:relative;
	margin:25px auto 10px auto;
	width:80%;
	height:100px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:70px;
	height:100%;
	text-align:center;
}
.ca-item img{
/*	width:40%;
*/}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}

.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../image/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-34px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}