.indexDiv{padding:0 10px;}
.content{margin: 20px 0 10px 0;font-size: 13px;}
.content .section{padding-bottom: 5px;}
.section span{color: #7f7f7f;}
#i{color: #ff0000;}
.ii{padding-right: 25px;}
#button1{background: #00a0e9;color: #FFFFFF;border: 0;width:40px;height: 20px;font-size: 13px;}
#button2{background: #00a0e9;color: #FFFFFF;border: 0;width:80px;height: 40px;font-size: 13px;margin-left: 10px;}
.image img{width: 30px;margin-bottom: 10px;}
.person{display: inline;float: left;}
.person img{width: 60px;}
.bg1{border-top:#c2c2c2 solid 2px; height:120px; overflow:hidden; padding:20px 0 15px 0; line-height:1.5em;}
.bg2{border-top:#c2c2c2 solid 1px; border-bottom:#c2c2c2 solid 1px; height:50px; overflow:hidden; padding:15px 0; line-height:1.5em;margin-bottom:40px;}
.i{text-align: center;font-size: 15px;margin-top: 15px;}
.left{margin-top: 40px;margin-bottom: -20px;}
.left img{width:20px;margin-left: 10px;}
.right{float: right; display: inline;margin-top: -20px;}
.bg3{border-top:#c2c2c2 solid 2px; border-bottom:#c2c2c2 solid 1px;  overflow:hidden; padding:15px 0 10px 0; line-height:1.5em;margin-bottom:40px;margin-top: 50px;}
.bg3 p{margin-left: 20px;}
form input{
    width:100%;
    height:40px;
    background: #fff;
    border:1px solid #dedede;
    font-size:0.9em;
    color:#3a3a3a;
    border-radius:0;}
#button3{background: #808080;color: #FFFFFF;border: 0;width:60px;height: 30px;font-size: 13px;float: right;margin-top: 10px;}
.content2{margin-bottom: 120px;}
.content2 img{width:80px;float: left ;display: inline;}
.content2 .word{color: #5c5c5c;margin-top: 30px;}